@font-face {
    font-family: 'Arvo';
    src: url('../fonts/arvo.eot'); /* IE 5-8 */
    src: local('☺'),             /* sneakily trick IE */
    url('../fonts/arvo.woff') format('woff'),    /* FF 3.6, Chrome 5, IE9 */
    url('../fonts/Arvo-Regular.ttf') format('truetype'), /* Opera, Safari */
    url('../fonts/arvo.svg#font') format('svg'); /* iOS */
}

h1 {
    font-family: "Arvo", sans-serif

}

html {
    font-size: 16px;
}
body {
    font-size: 62.5%;
    color: #464646;
    background: #b9babe url("/img/bg.png") repeat;
}

.container {
    background-color: #fff;
    max-width: 940px;
    width: 100%;
    margin: 55px auto;
    padding: 0;
    position: relative;
    -webkit-box-shadow: 0px 0px 20px rgba(3, 3, 3, 0.3);
    -moz-box-shadow: 0px 0px 20px rgba(3, 3, 3, 0.3);
    box-shadow: 0px 0px 20px rgba(3, 3, 3, 0.3);
}

.content-container {
    padding-right: 20px;
}

nav {
    max-width: 940px;
    font-size: 2em;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 5000;
}
/**
.navbar-nav {
    float: none;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px rgba(3, 3, 3, 0.3);
    -moz-box-shadow: 0px 0px 20px rgba(3, 3, 3, 0.3);
    box-shadow: 0px 0px 20px rgba(3, 3, 3, 0.3);
    text-align: center;
}

.navbar-nav li {
    vertical-align: middle;
    padding: 0 18px;
    display: inline-block;
    border-top: 10px solid transparent;
}

.navbar-nav li a {
    height: 60px;
    vertical-align: middle;
}

.navbar-nav li a:hover {
    background-color: #fff;
}
*/
header {
    position: relative;
    padding: 30px 0 30px 0;
    text-align: center;
    border-bottom: 1px solid #d4d4d4;
}

header h1 {
    font: 6em 'Arvo', serif;
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    z-index: 2;
}

h1:before, h1:after {
    border-top: 1px solid #d4d4d4;
    content: " ";
    display: block;
    height: 1px;
    width: 10%;
    position: absolute;
    left: 0;
    top: 1.2em;
    z-index: 1;
}

h1:after {
    right: 0;
    left: auto;
}

header h2 {
    font: 2.1em 'Arvo', serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #616161;
    margin: -4px 0 25px 0;
}

header h3 {
    font: 2.5em;
    line-height: 1.2em;
    font-weight: 400;
    color: #a4a5a6;
    margin-right: 8%;
    margin-left: 8%;
}

section {
    margin: 60px;
}

aside {
    text-align: right;
}

aside h2 {
    font-weight: bold;
}

aside h5 {
    color: #286ec1;
}

.img-thumbnail {
    -webkit-box-shadow: 0px 0px 20px rgba(3, 3, 3, 0.3);
    -moz-box-shadow: 0px 0px 20px rgba(3, 3, 3, 0.3);
    box-shadow: 0px 0px 20px rgba(3, 3, 3, 0.3);
    margin: 10px 10px 10px 10px;
}

.w100 {
    width: 100px;
}

article {
    border-left: 1px solid #d4d4d4;

}

ul.socials, ul.socials li {
    list-style: none;
    display: inline-block;
}


.glyphicon-liga, .glyphicon {
    margin: 0 5px 0 5px;
}

ul.contacts, ul.contacts li {
    list-style: none;
    font-size: 1.2em;
}

article p {
    text-align: justify;
    font-size: 1.4em;
    line-height: 1.8em;
    color: #8e8d8d;
}

.skills ul {
    list-style: none;
    font-size: 1.8em;
}

.skills ul li {

}

.skills ul li .label {
    width: 150px;
}

.date {
    color: #fff;
    background-color: #269abc;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

ul.responsibility {
    list-style: none;
    font-size: 1.8em;
}
ul.responsibility li:before {
    padding-left: 5px;
    position:relative;
    top:1px;
    display:inline-block;
    font-family:'Glyphicons Halflings';
    font-style:normal;
    font-weight:normal;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    color: #286ec1;
    content:"\e086";
}

.thumbnail {
    margin: 10px 0 10px 0;
    text-align: center;
}

.break-page {
    page-break-before: always;
}